*{
    padding: 0;
    margin: 0;
}

.navbar a{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    height: 800px;
}


.container{
    margin-top: 10px;
}

.parrafor{
    font-size: large;
}

.presentacion{
    display: flex;
    padding: 6rem;
    background-color: grey;
}

.presentacion img{
    width: 700px;
    height: 700px;
}

.historia{
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;
}