*{
    padding: 0;
    margin: 0;
}

.navbar a{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    height: 800px;
    margin-top: 1rem;
}


.container{
    margin-top: 10px;
}

.parrafor{
    font-size: large;
}

.presentacion{
    display: flex;
    padding: 6rem;
    background-color: black;
}

.presentacion img{
    width: 700px;
    height: 700px;
}

.historia{
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 6s;
}

.historia p:hover{
    scale: 2.5px;
}

.presentacion img:hover{
    filter: blur(2px);
}

.fondo{
    background-color: black;
}

.d-flex{
    background-color: gray;
}